.card {
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(
    90deg,
    #d1d1d1 0px,
    #d1d1d1 30px,
    #cccccc 60px
  );
  background-size: calc(160px + 160px);
  animation: refresh 1.5s infinite ease-out;
}

@keyframes refresh {
  0% {
    background-position: calc(-160px);
  }
  60%,
  100% {
    background-position: 160px;
  }
}
